* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
    border: 3px solid black;
}

#container>div:first-child {
    background-color: violet;
    flex-basis: 20%;
}

#container>div:last-child {
    background-color: pink;
    flex-basis: 80%;
}

.content {
    display: flex;
}

.content>div:nth-child(1) {
    flex-basis: 50%;
    background-color: green;
}

.content>div:nth-child(2) {
    flex-basis: 25%;
    background-color: pink;
}

.content>div:nth-child(3) {
    flex-basis: 25%;
    background-color: hotpink;
}