* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px solid black;
}

.header {
    background-color: purple;
    width: 100vw;
    height: 10vw;
    margin: 10px;
}

.line {
    background-color: pink;
    width: 20%;
    height: 90vw;
    margin: 10px;
}

.content {
    background-color: green;
    width: 70vw;
    height: 90vw;
    margin: 10px;
}