* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
}

#display {
    width: 100%;
    height: 20%;
    border-bottom: 2px solid black;
}

.button {
    display: flex;
    width: 100%;
    height: 80%;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
}

.numpad>button {
    background-color: gray;
    border: 1px solid black;
    width: 33.3333%;
    height: 25%;
    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;

}

.numpad>button:last-child {
    width: 100%;
}

.numpad>button:active {
    background-color: aliceblue;
}

.calpad {
    width: 20%;
    height: 100%;
}

.calpad>button {
    background-color: orange;
    border: 1px solid black;
    width: 100%;
    height: 33.3333%;
    font-weight: bold;
    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;
}

.calpad>button:active {
    background-color: darkorange;
}