.box { 
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.border {
    border: 10px solid red;
}

.padding {
    padding: 30px;
}

.margin {
    margin: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
}